@font-face {
    font-family: 'Bungee Shade';
    src:  url('fonts/Bungee_Shade/BungeeShade-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Baloo Thambi';
    src:  url('fonts/Baloo_Thambi/BalooThambi-Regular.ttf') format('truetype');
}
