@import 'variables';
@import 'reset';
@import 'mixins';
@import 'summoner-spells';

body {
  font-family: $font-stack;
  color: $grey;
  background-color: $background-color;
}

h1 {
    font-size: $h1 + px;
}

h2 {
    font-size: $h1 * (.75) + px;
}

h3 {
    font-size: $h1 * (.75) * (.75) + px;
}

h4 {
    font-size: $h1 * (.75) * (.75) * (.75) + px;
}

a {
    @include resetLink();
    cursor: pointer;
    &:hover {
        color: $primary-color;
    }
}

em {
    font-style: italic;
}

.bar {
    width: 30px;
    height: 1px;
    background-color: $grey;
}

.header {
    height: 50px;
    width: 100%;
    border: $light-grey solid 1px;

    .search {
        float: right;
    }
}

.main {
    margin: 20px auto;
    width: 550px;

}

.game-log-main {
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    background-color: $white;
    border-radius: 5px;

    .game-summary {
        border: $light-grey solid 1px;
        border-bottom: 0;

        &:last-child {
            border-bottom: $light-grey solid 1px;
            border-radius: 0 0 5px 5px;
        }
    }
}

.game-log-button-container {
    text-align: center;

    span {
        margin: 20px auto;
        color: $primary-color;
        padding: 10px 20px;
        font-size: 14px;
    }

    .button{
        cursor: pointer;
        display: inline-block;
        border: $primary-color solid 1px;
        border-radius: 100px;
        transition: none 200ms ease-out;
        transition-property: color, background;

        &:hover {
            background: $primary-color;
            color: $white;
        }
    }

    .message {
        display: none;
    }

    &.no-more {
        .button {
            display: none;
        }

        .message {
            display: inline-block;
        }
    }
}


.game-log-head {
    padding: 10px;
    box-sizing: border-box;
    border: $light-grey solid 1px;
    border-bottom-width: 0;
    border-radius: 5px 5px 0 0;

    position: relative;
    display: flex;
    flex-flow: row nowrap;
    overflow: scroll;

    .logo {
        flex: 0 0 auto;
        width: 155px;
        height: 155px;
        border-top-left-radius: 5px;
        float: left;
    }

    .info {
        flex: 1 1;
        float: left;
        margin-left: 30px;

        h1 {
            margin: 10px 0 15px 0;
        }

        .accounts {
            .accounts-header {
                text-decoration: underline;
            }

            ul {
                line-height: 17px;
                margin-top: 10px;
                font-size: 14px;
            }
        }

        .suggestion {
            position: absolute;
            font-size: 11px;
            right: 10px;
            bottom: 5px;
        }
    }

    &.empty {
        border-bottom-width: 1px;
        border-radius: 5px;

        .logo {
            border-radius: 5px;
        }
    }
}

.game-summary {
    height: 100px;
    position: relative;

    .summary-image {
        box-sizing: border-box;
        width: 100px;
        padding: 5px;
        float: left;
    }

    .icon-strip {
        float: left;
        margin: (50 - $icon-size) + px 0;
        margin-left: 5px;
    }



    .summary-detail {
        float: left;
        font-size: 13px;
        margin: 10px 0;
        height: 80px;
        width: 100px;
        text-align: center;
        line-height: 2;

        .bar {
            display: inline-block;
        }
    }

    .watch-button {
        display: inline-block;
        margin: (100 - (14 + 20) - (2 * 15)) / 2 + px 0;
        margin-left: 18px;

        a {
            display: inline-block;
            @include resetLink($twitch);
            border: $twitch solid 1px;
            border-radius: 100px;
            padding: 10px 20px;
            font-size: 14px;
            transition: none 200ms ease-out;
            transition-property: color, background;


            &:hover {
                background-color: $twitch;
                color: $white;
            }
        }

        .small-text {
            font-size: 10px;
            text-align: center;
        }

        .creation {
            margin-bottom: 5px;
        }

        .duration {
            margin-top: 5px;
        }
    }



    &.win {
        border-left: $green solid 2px;
    }

    &.loss {
        border-left: $red solid 2px;
    }
}

.champion-image {
    height: 90px;
}

.icon-strip {
    width: ($icon-size) * 6 + 10 + px;
    height: $icon-size * 2 + px;

    .summoner-spells {
        display: inline-block;
        width: $icon-size;
        .spell {
            border-radius: 5px;
            $icon-size-padding: $icon-size - 2;
            @include zoom($icon-size-padding / 48);
        }
    }

    .icon {
        display: inline-block;
        height: $icon-size + px;
        border-radius: 5px;
        padding: 1px;
        box-sizing: border-box;
    }

    .keystone-image {
        display: inline-block;
        margin: ($icon-size / 2) + px 0;
    }

    .items {
        margin-left: 10px;
        height: 100%;
        width: ($icon-size * 4) + px;
        display: inline-block;

        .main-items {
            float: left;
            height: 100%;
            width: ($icon-size * 3) + px;
        }

        .last-item img {
            margin: ($icon-size / 2) + px 0;
        }
    }
}
