@import 'variables';
@import 'reset';
@import 'mixins';
@import 'summoner-spells';

body {
  font-family: $font-stack;
  color: $grey;
  background-color: $background-color;
}

.header {
    height: 50px;
    width: 100%;
    border: black solid 1px;

    .search {
        float: right;
    }
}

.main {
    margin: 20px auto;
    width: 500px;

}

.game-log {
    box-shadow: 0 0 2px $grey;
    background-color: $white;

    .game-summary {
        border: $grey solid 1px;
        border-bottom: 0;

        &:last-child {
            border-bottom: $grey solid 1px;
        }
    }

}

.game-log-head {
    height: 200px;
    border: $grey solid 1px;
    border-bottom: 0;
}



.game-summary {
    height: 100px;

    cursor: pointer;
    .summary-image {
        padding: 5px;
        float: left;
    }

    .icon-strip {
        float: left;
        margin: (50 - $icon-size) + px 0;
        margin-left: 5px;
    }



    .summary-detail {
        float: left;
        font-size: 13px;
        text-align: center;

        &.actions {
            a {
                @include resetLink();
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    &.win {
        border-left: $green solid 2px;
    }

    &.loss {
        border-left: $red solid 2px;
    }
}

.champion-image {
    height: 90px;
}

.icon-strip {
    .summoner-spells {
        display: inline-block;
        div {
            @include zoom($icon-size / 48);
        }
    }

    .keystone-image {
        display: inline-block;
        margin: ($icon-size / 2) + px 0;
        height: $icon-size + px;
    }

    .items {
        margin-left: 10px;
        width: ($icon-size * 4) + px;
        display: inline-block;

        .main-items {
            display: inline-block;
            width: ($icon-size * 3) + px;
        }

        .last-item img {
            margin: ($icon-size / 2) + px 0;
        }


        img {
            display: inline-block;
            height: $icon-size + px;

        }
    }
}
