@import 'reset';

$font-stack:    Helvetica, Arial, sans-serif;
$primary-color: #333;
$grey: #555;

body {
  font-family: $font-stack;
  color: $grey;
}

.header {
    height: 50px;
    width: 100%;
    border: black solid 1px;

    .search {
        float: right;
    }
}

.main {
    margin: 20px auto;
    width: 500px;

}

.game-log {
    box-shadow: 0 0 2px $grey;
}

.game-log-head {
    height: 200px;
    border: $grey solid 1px;
}

.game-summary {
    height: 100px;
    border: $grey solid 1px;
    cursor: pointer;
    .summary-image {
        padding: 5px;
        display: inline-block;
    }

    .summary-detail {
        display: inline-block;
    }

    &:hover {
        opacity: 0.2;
    }
}

.champion-image {
    height: 90px;
}
