@import 'icons/icon';

@import 'fonts/fonts';

@import 'variables';
@import 'reset';
@import 'mixins';
@import 'summoner-spells';

@import 'base';

@import 'components/header';
@import 'components/footer';
@import 'components/game-log';
@import 'components/autoplay';
@import 'components/search';
@import 'components/dropdown';
@import 'components/settings';
@import 'components/hero';
@import 'components/defaultImg';
@import 'components/suggestion';
@import 'components/tooltips';

@import 'media';
