@media screen and (max-width: 800px) {
    .main.expanded {
        width: 95%;
    }
}

@media screen and (max-width: 700px) {
    .suggestion-page {
        width: 95%;
    }

    .hero .title {
        text-shadow: -5px 3px #242929;
        font-size: 70px;
    }
}

@media screen and (max-width: 600px) {
    .main {
        width: 95%;
    }
}

@media screen and (max-width: 570px) {
    .game-summary .icon-strip {
        display: none
    }

    .category-search {
        width: 180px;
    }

    .header .logo {
        font-size: 27px;
    }

    h1 {
        font-size: 24px;
    }
}

@media screen and (max-width: 470px) {
    .game-summary .watch-button {
        margin-left: 0;
    }



    .category-search .input-container {
        .input {
            display: none;
        }

        &.focus {
            .input {
                display: inherit;
            }
        }

        .input-button {
            .search-icon {
                display: none;
            }

            .without-clear {
                display: inherit;
            }
        }
    }

    .hero{
        height: 300px;

        .hero-content {
            padding: 40px 0;
        }

        .title {
            font-size: 50px;
        }

        .subtitle {
            h3 {
                font-size: 15px;
            }
        }

        .korean-bootcamp-btn {
            font-size: 13px;
            margin: 15px 0 0;
            padding: 10px 20px;
        }
    }

}

@media screen and (max-width: 400px) {
    .game-log-head {

        &.channel {
            padding-bottom: 20px;
            .logo {
                width: 120px;
                height: 120px;
            }
        }
    }
}

@media screen and (max-width: 380px) {
    .hero{
        .subtitle {
            h3 {
                font-size: 13px;
            }
        }

        .korean-bootcamp-btn {
            font-size: 11px;
        }
    }

    .header {
        .logo {
            display: none;
        }

        .logo.abbreviated {
            display: inline-block;
        }
    }
}

@media screen and (max-width: 330px) {
    .hero{
        height: 250px;

        .hero-content {
            padding: 30px 0;
        }

        .title {
            font-size: 40px;
        }

        .subtitle {
            h3 {
                font-size: 12px;
            }
        }

        .korean-bootcamp-btn {
            font-size: 10px;
            padding: 5px 10px;
        }
    }

}
