@mixin zoom($degree) {
    zoom: $degree;
    -moz-transform:scale($degree);
    -moz-transform-origin: 0 0;
}

@mixin resetLink($color: $grey) {
    &:link {
        color: $color;
        text-decoration: none;
    }

    &:visited {
        color: $color;
        text-decoration: none;
    }

    &:hover {
        color: $color;
        text-decoration: none;
    }

    &:active {
        color: $color;
        text-decoration: none;
    }
}
