
// Summoner Spells
// TODO make dynamic
@mixin summoner-spell($x, $y) {
    height:48px;
    width:48px;
    background: url('https://ddragon.leagueoflegends.com/cdn/6.16.2/img/sprite/spell0.png') (-1 * $x) + px (-1 * $y) + px no-repeat;
}

.flash { @include summoner-spell(240, 0); }
.cleanse { @include summoner-spell(48, 0); }
.clairvoyance { @include summoner-spell(96, 0); }
.ignite { @include summoner-spell(144, 0); }
.barrier { @include summoner-spell(0, 0); }
.exhaust { @include summoner-spell(192, 0); }
.ghost { @include summoner-spell(288, 0); }
.heal { @include summoner-spell(336, 0); }
.clarity { @include summoner-spell(384, 0); }
.smite { @include summoner-spell(48, 48); }
.teleport { @include summoner-spell(144, 48); }
.mark { @include summoner-spell(96, 48); }
.poro-toss { @include summoner-spell(0, 48); }
.to-the-king { @include summoner-spell(432, 48); }
