
$font-stack:    Helvetica, Arial, sans-serif;
$primary-color: #e74c3c;
$background-color: #f9f9f9;
$grey: #555;
$light-grey: rgba(0,0,0,0.2);
$white: #fdfdfd;
$green: #2ecc71;
$red: #e74c3c;
$blue: #3498db;
$twitch: #6441A5;
$light-twitch: #a991d4;
$black: #242929;

$icon-size: 35;

$h1: 32;
