
$font-stack:    Helvetica, Arial, sans-serif;
$primary-color: #e74c3c;
$background-color: #fafafa;
$grey: #555;
$light-grey: rgba(0,0,0,0.2);
$white: #fdfdfd;
$green: #2ecc71;
$red: #e74c3c;
$twitch: #6441A5;

$icon-size: 35;
