.dropdown {
    position: absolute;
    z-index: 1;
    width: 290px;
    top: 50px;

    max-height: calc(100vh - 50px);
    overflow-y: auto;

    background-color: $white;

    border: $light-grey solid 1px;
    border-top: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
}
