.footer {
    color: $grey;

    text-align: center;
    font-size: 13px;
    padding: 20px;

    position: relative;

    &:before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        height: 1px;
        width: 90%;
        border-bottom:1px solid $mid-grey;
    }
}
