.game-log-main {
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    background-color: $white;
    border-radius: 5px;

    .game-summary {
        border: $light-grey solid 1px;
        border-bottom: 0;

        &.last {
            border-bottom: $light-grey solid 1px;
            border-radius: 0 0 5px 5px;
        }
    }
}

.game-log-button-container {
    text-align: center;
    clear: both;

    span {
        margin: 20px auto;
        color: $primary-color;
        padding: 10px 20px;
        font-size: 14px;
    }

    .button{
        cursor: pointer;
        display: inline-block;
        border: $primary-color solid 1px;
        border-radius: 100px;
        transition: none 200ms ease-out;
        transition-property: color, background;

        &:hover {
            background: $primary-color;
            color: $white;
        }
    }

    .message {
        display: none;
    }

    &.no-more {
        .button {
            display: none;
        }

        .message {
            display: inline-block;
        }
    }
}


.game-log-head {
    padding: 11px;
    box-sizing: border-box;
    border-radius: 5px 5px 0 0;
    background-color: $blue;
    color: $white;

    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1);

    position: relative;
    display: flex;
    flex-flow: row nowrap;
    overflow: scroll;

    a {
        color: $white;
        &:hover {
            color: $black;
        }
    }

    .logo {
        flex: 0 0 auto;
        border-radius: 5px;
        float: left;
    }

    .info {
        flex: 1 1;
        float: left;
        margin-left: 30px;

        h1 {
            margin: 10px 0 15px 0;
            font-weight: 600;

            .stripped {
                margin-bottom: 10px;
            }
        }

        .accounts {
            .accounts-header {
                text-decoration: underline;
            }

            ul {
                line-height: 17px;
                margin-top: 10px;
                font-size: 14px;
            }
        }

        .champion-title {
            font-style: italic;
            font-weight: 100;
        }

        .suggestion {
            position: absolute;
            font-size: 11px;
            right: 10px;
            bottom: 5px;
        }
    }

    &.empty {
        border-bottom-width: 1px;
        border-radius: 5px;
    }

    &.channel {
        .logo {
            width: 155px;
            height: 155px;
        }
    }

    &.champion {
        align-items: center;

        .logo {
            width: 120px;
            height: 120px;
        }
    }
}

.twitch-container {
    position: relative;
    overflow: hidden;

    .fullscreen-button {
        position: absolute;
        bottom: 0;
        right: 0;
        cursor: pointer;
        color: white;
        display: block;
        background-color: green;
    }

    &.fullscreen {
        position: fixed;
        z-index: 1;
        top: 0;
        width: 100%;
        height: 100%;
        left: 0;

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

.game-summary {
    height: 100px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    .summary-image {
        flex: 0 0;
        box-sizing: border-box;
        width: 100px;
        padding: 5px;
        img {
            height: 90px;
        }
    }

    .icon-strip {
        flex: 1 1;
        margin: (50 - $icon-size) + px 0;
    }



    .summary-detail {
        flex: 1 1;
        font-size: 13px;
        margin: 10px 0;
        height: 80px;
        min-width: 100px;
        text-align: center;
        line-height: 2;

        .rule {
            display: inline-block;
        }
    }

    .watch-button {
        flex: 1 1;
        display: inline-block;
        margin: (100 - (14 + 20) - (2 * 15)) / 2 + px 0;
        margin-left: 18px;
        text-align: center;

        a {
            display: inline-block;
            @include resetLink($twitch);
            border: $twitch solid 1px;
            border-radius: 100px;
            padding: 10px 20px;
            font-size: 14px;
            transition: none 200ms ease-out;
            transition-property: color, background;


            &:hover {
                background-color: $twitch;
                color: $white;
            }
        }

        .small-text {
            font-size: 10px;
            text-align: center;
        }

        .creation {
            margin-bottom: 5px;
        }

        .duration {
            margin-top: 5px;
        }
    }



    &.win {
        border-left: $green solid 2px;
    }

    &.loss {
        border-left: $red solid 2px;
    }
}

.icon-strip {
    min-width: ($icon-size) * 6 + 10 + px;
    height: $icon-size * 2 + px;

    .summoner-spells {
        display: inline-block;
        width: $icon-size;
        .spell {
            border-radius: 5px;
            $icon-size-padding: $icon-size - 2;
            @include zoom($icon-size-padding / 48);
        }
    }

    .icon {
        display: inline-block;
        height: $icon-size + px;
        border-radius: 5px;
        padding: 1px;
        box-sizing: border-box;
    }

    .keystone-image {
        display: inline-block;
        margin: ($icon-size / 2) + px 0;
    }

    .items {
        margin-left: 10px;
        height: 100%;
        width: ($icon-size * 4) + px;
        display: inline-block;

        .main-items {
            float: left;
            height: 100%;
            width: ($icon-size * 3) + px;
        }

        .last-item img {
            margin: ($icon-size / 2) + px 0;
        }
    }
}
