.header {
    height: 50px;
    width: 100%;
    background-color: $white;
    border: $light-grey solid 1px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

    .settings {
        float:right;
        margin: 17px 20px 17px 5px;
        cursor: pointer;

        &:hover {
            color: $primary-color
        }
    }

    .category-search {
        float: right;
    }
}
