
.category-search {
    position: absolute;
    width: 300px;
    right: 0;
    top: 0;
    z-index: 1;

    .input-container {
        float: right;
        height: 50px;
        position: relative;
        padding: (50 - 27) /2 + px 10px;
        .input {
            border-radius: 5px;
            padding: 5px;
            padding-right: 20px;
            box-sizing: border-box;
            border: $light-grey solid 1px;
            width: 100%;
            input {
                border: 0;
                outline: none;
            }
        }

        .input-button {
            position: absolute;
            top: 18px;
            right: 16px;
            font-size: 13px;
            color: $grey;
        }

    }
}
