
.category-search {
    position: absolute;
    width: 300px;
    right: 0;
    top: 0;
    z-index: 1;

    .input-container {
        float: right;
        height: 50px;
        position: relative;
        padding: (50 - 27) /2 + px 10px;
        margin-right: 10px;
        box-sizing: border-box;
        width: 170px;
        transition: width 0.5s ease-out;

        &.focus {
            width: calc(100% - 20px);
        }

        .input {
            border-radius: 5px;
            padding: 5px;
            padding-right: 20px;
            box-sizing: border-box;
            border: $light-grey solid 1px;
            width: 100%;
            input {
                border: 0;
                outline: none;
                width: 100%;
            }
        }

        .input-button {
            position: absolute;
            top: 18px;
            right: 16px;
            font-size: 13px;
            color: $grey;
            cursor: pointer;

            &:hover {
                color: $primary-color;
            }
        }

    }

    .no-results {
        text-align: center;
        padding: 10px;
        color: $red;
        font-size: 13;
        font-style: italic;
        font-weight: 300;
    }

    .results {
        clear: both;
        background-color: $white;
        border: $light-grey solid 1px;
        border-top: 0;
        border-right: 0;
        border-bottom-left-radius: 5px;
        box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);

        .result {
            cursor: pointer;
            height: 50px;
                padding: 3px 5px;

            &:hover {
                background-color: rgba(0,0,0,0.05);
            }

            img {
                height: 50px;
                border-radius: 5px;
                float: left;
            }

            .info {
                float: left;
                height: 26px;
                padding: (50 - 26) / 2 + px 5px;
                .type {
                    font-style: italic;
                    font-size: 10px;
                    font-weight: 300;
                }

            }
        }
    }
}
